.createEntryForm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 65px 20px;
    border-color: white;
}

.ListHeadText{
    text-align: center;
    margin-top: 30px;

}

.createEntryDiv{
    text-align: center;
    background-color:#8C8C8C;
    border-radius: 5%;
    margin: 50px auto;
    height: 500px;
    width: 450px;
}

.theInput{
    margin: 10px;
}

.theButton{
    margin: 20px auto;
    background-color:transparent;
    border:none;
    height: 30px;
    font-size: 15px;
    border-radius: 50%;
   
}

.theButton:focus{
    outline: none;
}

.theContent{
    height: 200px;
    word-wrap:break-word;
}

@media (max-width: 415px){
    .createEntryForm{
        margin: auto 20px;
        font-size: 20px;

    }


    .createEntryDiv{
        width:75%;

    }

    .ListHeadText{
        margin: 30px;
        margin-right: -140px;
  
    }

    .theButton{
        margin: 20px auto;
        background-color:#D4978C;
        border:none;
        height: 30px;
        width:70px;
        font-size: 20px;
       
    }

    .ListHeadText{
        margin:300px;
    }
}