.entryDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 60px auto;
    text-align: center;
    word-wrap:break-word;
    
}

.contentDiv{
/* position: absolute; */
background-color: #8C8C8C;
height: 375px;
width: 325px;
border-radius: 5%;
margin:auto;
padding: 15px;
}

.buttonsDiv{
    display: flex;
    flex-direction: row;
    margin: 10px auto;
}

.entryButton{
    background-color:#D4978C;
    border: none;
    margin: 5px;
}

.journal_img{
    height: 175px;
    width: 100%;
    border-radius: 5%;
}

.entryParagraph{
    margin-top: -10px;
}

.entryTitle{
    text-align: center;
    margin: 10px auto;
    color: #D4978C;
}

/* .moodImage{
    background-color: red;
    position: relative;
} */

@media (max-width: 415px){

    .entryDiv{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin:60px auto;
        text-align: center;   
        width: 140%;   
    }

    .entryButton{
        background-color:#D4978C;
        border: none;
        margin: 5px;
        height: 35px;
        width: 70px;
        font-size: 20px;
    }
    
    .contentDiv{
        height: 475px;
        width: 400px;
        }

    .entryParagraph{
            margin-top: -10px;
            margin: 15px;
            font-size: 20px;
        }
    
    .journal_img{
            height: 185px;
        }


}
