.entryDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 60px auto;
    text-align: center;
    word-wrap:break-word;
    
}

.contentDiv{
/* position: absolute; */
background-color: #747373;
height: 525px;
width: 450px;
border-radius: 0.30rem;
margin:auto;
padding: 15px;
}

.buttonsDiv{
    display: flex;
    flex-direction: row;
    margin: 10px auto;
}

.entryButton{
    background-color:#D4978C;
    border: none;
    margin: 5px;
}

.entryButton:hover{
    background-color: #76C5D3;
}

.journal_img{
    height: 190px;
    width: 100%;
    /* border-radius: 5%; */
}

.entryParagraph{
    margin-top: -10px;
    text-align: left;
}

.entryTitle{
    text-align: center;
    margin: 10px auto;
    color: #D4978C;
}

.moodImage{
    height: 40px;
}

.moodStatus{
    color:#D4978C;
}

.entryDate{
    color: black;
}

.iconAndDate{
    display: flex;
    justify-content: space-between;
    justify-items: flex-end;
    height: 20px;
    justify-self: flex-end;
}

.divAgain{
    height: auto;
    position: relative;
    bottom: -154px;
}

@media (max-width: 415px){

    .entryDiv{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;   
        width: 100%; 
        
    }

    .entryButton{
        background-color:#D4978C;
        border: none;
        margin: 5px;
        height: 35px;
        font-size: 20px;
    }


    .entryParagraph{
            margin-top: -10px;
            margin: 15px;
            font-size: 20px;
        }
    
    .journal_img{
            height: 185px;
        }

    .moodImage{
            height: 50px;
            position: relative;
            top: -280px;
            right: -130px;
        
        }


}
