.entryListDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto 600px;
    border-color: white;
    text-align: center;
    
}

a{
    color:white;
    text-decoration: none;
}

.ListHeadText{
    color:#D4978C;
}

.individualEntry{
    background-color: #8C8C8C;
    margin: 10px;
}

.individualEntry:hover{
    background-color: #D4978C;
}

@media (max-width: 415px){

.entryListDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    border-color: white;
    text-align: center;
    
}

.ListHeadText{
    text-align: center;
    margin: 30px auto;
}

.individualEntry{
   
    margin: 20px 110px;
    background-color: #D4978C;
}

}


@media (min-width: 1000px){
    .entryListDiv{
     
        margin: auto 450px;
        
        
    }
}
