.loginDiv{
    text-align: center;
}



.loginForm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto 600px;
    border-color: white;
    background-color: #8C8C8C;
    height: 150px ;
    border-radius: 5%; 
}

.loginInput{
    margin: 7px;
    
}

.loginSubmit{
    margin: auto;
    background-color:#D4978C;
    border:none;
   
}

.loginSubmit:hover{
    background-color: #76C5D3;
}


@media (max-width: 415px){
    .loginInput{
        width:70%;
        height: 25px;
        margin:auto;
        
    }

    .loginForm{
        margin: 100px;
        /* width:115%; */
        font-size: 40px;
        border-radius: 0%;
    }

    .loginDiv{
        width: 100%;
    }

    .loginSubmit{
        margin: auto;
        background-color:#D4978C;
        border:none;
        height: 35px;
        width: 70px;
        font-size: 20px;
    }

}